
.env
.env.*
!.env.sample
!.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
coverage/


# IDE
.idea
.vscode
!.vscode/launch.json
/nbproject/private/
.DS_Store
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache

###< phpunit/phpunit ###
